
<form #signUpForm="ngForm">
  <input type="text" #SId="ngModel" [(ngModel)]="userService.selectedUser.#SId" name="SId" placeholder="Student Id"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !SId.valid }">
  <div *ngIf="signUpForm.submitted && !SId.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName" name="firstName" placeholder="First Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !firstName.valid }">
  <div *ngIf="signUpForm.submitted && !firstName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #laastName="ngModel" [(ngModel)]="userService.selectedUser.lastName" name="lastName" placeholder="Last Name"
  required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lastName.valid }">
  <div *ngIf="signUpForm.submitted && !lastName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
  required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>

  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    
  </div>
  <input type="submit" value="Sign Up">
</form>